# Mobile Tools for Java (J2ME)
.mtj.tmp/

# NetBeans specific #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear
/Aulas/Aula 10/ContatosSessionFinal (cópia)/nbproject/private/
/Aulas/Aula 10/ContatosSessionFinalEstilo/nbproject/private/